/* 
.h1{
    font-family: 'Rubik Moonrocks', cursive;
} */

/* .signin{


    /* margin-left: 400px; */
 */
.footer{

  
    margin-top: 900px;
}
.footerimg{

    margin-top: -26px;

}
